/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2015, 2:25:28 AM
    Author     : Appleshine
*/
*{
    padding: 0;
    margin: 0;
} 
body {
  background: #fff url('images/bg.jpg') repeat-x 20% 5%;
  background-size: 1200px 1984px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  font-family: "Trebuchet MS" Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #333333;
  line-height: 24px;
}

#content { margin: 0 auto; padding: 10px; width: 1180px; }

#header { margin-bottom: 50px; width: 100%; }
#body { text-align: center; }
#footer {
  height: 30px;
  width: 1180px;
}

#main-menu { border: 4px solid black; line-height: 0px; margin: 0 auto; width: 800px; }
#main-menu .column { float: left; width: 160px; }
#main-menu #center { width: 480px; }
#main-menu .column .section, #main-menu .column #play { float: left; }
#main-menu .column .section img { height: 160px; width: 160px; }
#main-menu .column #play { border: 4px solid black; }
#main-menu .column #play img { height: 312px; width: 472px; }

#top-players { font-size: 1.6em; margin:30px auto 0 auto; width: 600px; }
#top-players h1 { margin: 20px 0; }
#top-players p { margin: 3px 0; }
#top-players #table { margin: 0 auto; width: 480px; }
#top-players #table .row {}
#top-players #table .row p { float: left; }
#top-players #table .row .rank { text-align: left; width: 80px; }
#top-players #table .row .name { width: 280px; }
#top-players #table .row .score { text-align: right; width: 120px; }

#logo a {
	background: url('images/reversilogo.png') 0 0 / cover;
	display: block;
	height: 104px;
	text-indent: -4000px;
	width: 330px;
	margin: 10px auto;
}

#sublogo a {
	background: url('images/adminpage/adminpage.png') 0 0 / cover;
	display: block;
	height: 62px;
	text-indent: -4000px;
	width: 306px;
	margin: 10px auto;
}

.welcome { float: left; text-indent: -4000px; }
.welcome a.welcome {background: url('images/welcome.png') no-repeat 0 0 / cover; width: 260px;}

.profile { float: right; }
.profile ul { list-style:none; }
.profile ul li { float: right; margin:5px 15px; }
.profile ul li a.user {background: url('images/user.png') no-repeat 0 0 / cover; }
.profile ul li a.icon {background: url('images/usericon.png') no-repeat 0 0 / cover;}

.menu { margin: 0 auto; width:1020px; }
.menu ul { list-style:none; margin: 0; padding: 0; }
.menu ul li { float: left; margin:5px 15px; padding: 0; }
.menu ul li+li { background: url('images/menudiv.png') no-repeat; padding-left:35px; } 
.menu ul li a { display: block; float: left; text-indent: -4000px; }
.menu ul li a.home { background: url('images/home.png') no-repeat 0 0 / cover; width:68px; }
.menu ul li a.dashboard { background: url('images/dashboard.png') no-repeat 0 0 / cover; width:144px; }
.menu ul li a.tournament { background: url('images/tournament.png') no-repeat 0 0 / cover; width:154px; }
.menu ul li a.ranking { background: url('images/ranking.png') no-repeat 0 0 / cover; width: 112px; }
.menu ul li a.faq { background: url('images/faq.png') no-repeat 0 0 / cover; width:54px; }
.menu ul li a.about { background: url('images/aboutus.png') no-repeat 0 0 / cover; width:117px; }

.submenu { margin: 0 auto; width:900px; }
.submenu ul { list-style:none; margin: 0; padding: 0; }
.submenu ul li { float: left; margin:5px 15px; padding: 0; }
.submenu ul li+li { background: url('images/menudiv.png') no-repeat; padding-left:35px; } 
.submenu ul li a { display: block; float: left; text-indent: -4300px; }
.submenu ul li a.adminhomepage { background: url('images/adminpage/adminhomepage.png') no-repeat 0 0 / cover; width:202px; }
.submenu ul li a.manageusers { background: url('images/adminpage/manageusers.png') no-repeat 0 0 / cover; width:172px; }
.submenu ul li a.managetournament { background: url('images/adminpage/managetournament.png') no-repeat 0 0 / cover; width:256px; }
.submenu ul li a.cms { background: url('images/adminpage/cms.png') no-repeat 0 0 / cover; width: 44px; }


.clear {
  clear:both;
  height:0;
}

@font-face {
    font-family: edo;
    src: url(edosz.ttf);
}

.sublogo {
    font-family: edo;
	vertical-align: middle;
}