@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: edo;
    src: url(edosz.ttf);
}

a:link {
    text-decoration: none;
	color: #000000
}

a:visited {
    text-decoration: none;
	color: #000000;
}

a:hover {
    color: #4d4d4b;
}

a:active {
    color: #4d4d4b;
} 


body {
	background: #fff url('imgs/bg.jpg') repeat-x 20% 5%;
	background-size: 1200px 1984px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #000000;
	color: #333333;
}

div {
    font-family: edo;
	line-height: 35px;
}

main {
    font-family: edo;
	font-size: 150%;
}

mbt {
    font-family: edo;
	font-size: 400%;
	line-height: 90px;
}